@charset 'UTF-8';

header h1{
    display:flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-left: 4em;
    margin-top: 4em;
    color: white;
   

}

header #mister {
    color: white;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5em;
    margin-top: 0.3em;
    font-size: 7.5em;
    font-weight: bolder;
}


header #integrar {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -18.5em;
    margin-top: 12.5em;
    font-size: 23px;
    font-weight: lighter;
}

nav a {
    color: white;
    text-align: justify;
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
nav {
    display: flex;
    margin-top: -36em;
    margin-bottom: 36em;
    margin-left: 68em;
}
body {
    background-color: #131E67;
}

h2 img{

width: 50%;
height: 90vh;
position: absolute;
top: 60px;
left: 5em;
object-fit: cover;
}

article h1 {
    color: white;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    font-weight: bolder;
    margin-left: 6em;
    margin-top: 12em;
    margin-bottom: 1em;
}

article p {
    color: white;
    text-align: justify;
    margin-left: 4.6em;
    margin-right: 6em;
    margin-top: 2.8em;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

article #atr {
    width: 95% ;
    height: auto;
    margin-top: 5em;
    margin-left: 2.5em;

}
article #atr42{
    margin-left: 40em;
    font-size: 0.8em;

}
article #atresquerda {
    width: 60% ;
    height: auto;
    margin-top: 1em;
    margin-left: 15em;

}
article #descricao {
    margin-left: 40em;
    font-size: 0.8em;
}
article h2 {
    text-align: center;
    color: white;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    font-weight: bolder;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5em;
    margin-bottom: 2em;
}

article #razao {
    text-align: center;
    color: white;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    font-weight: bolder;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 3em;
    margin-bottom: 2em;
}

article h3 {
    color: white;
    text-align: justify;
    margin-left: 3.2em;
    margin-right: 6em;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer {
    margin-top: 15em;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white ;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: gold ;
}